# Docker Image (from GitHub Container Registry)
APP_IMAGE=ghcr.io/phcteixeira/crm-app:latest

# Database Configuration (Used by the 'db' service)
DB_USER=crm_admin
DB_PASSWORD=secret_password_change_me
DB_NAME=crm_db

# App Database URL (Used by the 'app' service to connect to 'db')
# Keep 'db:5432' as 'db' is the service name in docker-compose
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable

# Evolution API Configuration
EVOLUTION_API_URL=https://maracai-hub.ckmedia.com.br
EVOLUTION_API_KEY=54a7ce5c4d3e7a4a34b1cac9a970ded2

# Traefik Domain Configuration
# Example: crm.seudominio.com.br
DOMAIN=crm.ckmedia.com.br
